
<%= render 'shared/errors' %>

<form action="<%= action %>" method="post">
    <%= auth_token %>

    <input type="hidden" name="comment[commentable_id]" value="<%= subject_id %>">
    <input type="hidden" name="comment[commentable_type]" value="<%= subject_type %>">

    <label for="body">New comment</label>
    <br>
    <textarea name= "comment[body]" id="body" cols="30" rows="10"></textarea>

    <br>

    <input type="submit" value="Comment">

</form>