<!DOCTYPE html>
<html>
  <head>
    <title>GoalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <h1>Goal App</h1>
      <% if current_user %>
        <p><%= link_to current_user.name, user_url(current_user) %></p>
        <%= button_to 'Log out', session_url,method: :delete %>
      <% else %>
        <p><%= link_to 'Sign in', new_session_url %>/ <%= link_to 'Sign up',new_user_url %></p>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
